*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  font-family: "Public Sans", sans-serif;

}
.container{
    margin: 5px 30px;
    padding: 0px 30px;
}



.top__nav{
    height: 75px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#1B2730;
}

.top__nav .left{
    width: 150px;
    padding: 0px 10px;
}

.top__nav .right{
    display: flex;
    flex: 1 1 auto;
    justify-content:space-between;
}

.top__nav .right .profile{
    color: #ffffff;
}

.top__nav .right .profile a{
    text-decoration: none;
    color: #33f00dc9

}

.dashboard__container{
    display: block;
}

.dashboard__container .main__content{
    display: flex;
}

.dashboard__container .main__content .sidebar{
    width:150px;
    background-color: #2A3B46;
    height: calc(100vh - 76px);
}

.main__content .sidebar ul li {
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
}


.main__content .sidebar ul li.active {
    border-left: 10px solid green;
    background-color: #1B2730;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: -10px;
}

.main__content .sidebar ul li:hover{
    background-color: #1B2730;
    transition: 0.5s ease-out;
}

.main__content .sidebar ul{
    margin: 8px;
}

.main__content .sidebar ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    display: block;
}

.main__content .content{
    flex: 1;
}

.main__content .content .breadcumb{
    padding: 8px 25px;
    /* margin:5px; */
    background-color:#abb6a8;
}


.breadcumb ul{
    display: flex;
}

.breadcumb ul li{
    display: flex;
    list-style: none;
    font-size: 20px;
    padding: 0px 10px;
    /* color: #000000; */


}
.breadcumb ul li a{
    text-decoration: none;
    color:rgb(40, 87, 87);
}

.breadcumb ul li.current::before{
    content: "/";
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;
}

.content  .content__heading {
    margin: 20px ;
    padding: 10px;
    background-color: #2b3944d8 ;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.content  .content__heading h3{
    color: rgb(230, 230, 230);
    font: 13px 700 ;
}

.content__heading a{
    padding: 10px 20px;
    background-color: #abb6a8;
    color:#000000;
    text-decoration: none;
    border-radius: 10px;
    font-family: 700;
}

.main__content .content .cards__container{
 padding: 20px;
 display: flex;
 flex-wrap: wrap;

 /* justify-content: center; */
}


.content .cards__container .cards{
    width: 240px;
    height: 150px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    color: #221f1f;
    border-radius: 10px;
    box-shadow: 1px 2px 10px 2px rgb(226, 226, 226);
}
.content .cards__container .cards .card__number{
    font-size: 36px;
    font-weight: 700;
    color:rgb(40, 87, 87);
}


/* Add Blogs  */
.main__content .content .form-content{
    padding: 20px;
    /* overflow-x: scroll; */
}

 
.main__content .content .form-content form{
    padding: 30px;
    max-width: 800px;
    box-shadow: 2px 10px 10px 2px #dbdbdb8e;
    
}

.form-content form .form-row{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    border-radius: 5px;
    border: .01em solid rgba(243, 243, 243, 0.719);
    background-color: #00000005;
}

.form-content form .form-row label{
    margin-bottom: 5px;
}

.form-content form .form-row .form-control{
    padding:10px;
    border-radius: 3px;
    border: 0.01em solid rgba(173, 218, 218, 0.212);
    outline:none;
    background-color: #f1f1f17a;
}

.form-content form .btn__send{
    background-color:#1B2730;
    font-size: 20px;
    width: 120px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    color: #ffffff;
    padding: 5px 10px;
    margin: 20px 0px;
}

.form-content form .btn__send:hover{
    background-color: #324757;
    transition: .5s ease-in;
}

.action__message{
    background-color: #007e26;
}
.action__message .add__message{
    color: white;
  
}

/* All Blogs */

.form-content table{
    width: calc(100% - 20%);
    margin: 0 10%;
    overflow-x: scroll;
}

.form-content table tr td{
 padding: 8px;
}

.form-content table button, .form-content table a{
    border-radius: 3px;
    display: inline-block;
    border:none;
    text-decoration: none;

}


.form-content table button{
    padding:  4px 6px;
    font-weight: 700;
    background-color: transparent;
    border:none;
    color: rgb(247, 247, 247);
    cursor: pointer;
}

.form-content table a.edit{
    background-color: #0f5e92;
}

.form-content table a.edit:hover{
    background-color: #062b44;
}


.form-content table a.view{
    background-color: #292e31;
}

.form-content table a.view:hover{
    background-color: #707d85;
}

.form-content table .status.burn{
    background-color: #4e00008a;
}
.form-content table .status.revoke{
    background-color: #00942c8a;
}
.form-content table .status.revoke:hover{
    background-color: #005a1b8a;
}

.form-content table .status:hover.burn{
    background-color: #690000c4;
}



/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }

  /* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
        position: relative;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 50px !important;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/

	/* td:nth-of-type(1):before { content: "Id"; }
	td:nth-of-type(2):before { content: "Title"; }
	td:nth-of-type(3):before { content: "Image"; } */
	td:nth-of-type(4):after { content: "Views"; font-size: 10px; }
	td:nth-of-type(5):after { content: "Comments"; font-size: 10px; }
	/* td:nth-of-type(6):before { content: "Options"; } */
}

/* 
Contacts
*/

.contact__row{
    margin: 5px 0px;
    max-width: 1000px;
}

.contact__row .message__item{
    margin: 5px 0px;
    padding: 10px;
    background-color: #f1f1f1d8;
    border-radius: 3px;
}

.contact__row .message__item:hover{
    background-color: #dfdfdfd8;

}

.contact__row .message__item .sender{
    display: flex;
    flex-direction: column;
}
.message__item .sender .name{
    color:rgba(58, 58, 58, 0.938);
}
.message__item .sender .email{ 
    color:rgb(156, 156, 156);
    border-bottom: 0.01px solid rgb(209, 205, 205);
    max-width: 300px;
}
.message__item .sender p{
    margin: 8px 0px 5px 0px;
}

.message__item  button{
    padding: 3px 8px;
    margin: 5px 0px;
    background-color: #062b44;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    transition: .5s ease-in-out;
}

.message__item  .contact_date{
    color: #82a1b4;
    padding: 4px;
    font-size: 12px;
    width: fit-content;
    background:#e2e2e2;
    border-radius: 3px;

}

.message__item  button:hover {
 color: #062b44;
 background-color: #fff;
 border: 1px solid #062b44;

}

/* projects */

.project__item{
    background-color: #f0ffdf;
    padding: 1.2%;
    margin: 1%;
  }
  .project__item .top{
    display: flex;
    align-items: center;
    padding: 5px 0px;
  }
  .project__item .top .links > *{
   margin: 10px;
  }
  .project__item .top img{
    max-height: 120px;
  }
  .project__item  .options{
    display:  flex;
  }
  .project__item  .options a{
    padding: 8px 12px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    background-color: #cecece;
  }
  .project__item  .options a:hover{
    background-color: #acacac;

  }