*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    margin: 5px 30px;
    padding: 0px 30px;
}

header{


}

.top__nav{
    height: 75px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#1B2730;
}

.top__nav .left{
    width: 150px;
    padding: 0px 10px;
}

.top__nav .right{
    display: flex;
    flex: 1 1 auto;
    justify-content:space-between;
    
}


.top__nav .right .profile{
    color: #ffffff;
}

.top__nav .right .profile a{
    text-decoration: none;
    color: #33f00dc9

}

.dashboard__container{
    display: block;
}

.dashboard__container .main__content{
    display: flex;
}

.dashboard__container .main__content .sidebar{
    width:150px;
    background-color: #2A3B46;
    height: calc(100vh - 76px);
}

.main__content .sidebar ul li {
    padding: 0px;
    list-style: none;
}

.main__content .sidebar ul{
    margin: 8px;
}

.main__content .sidebar ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    display: block;
}

.main__content .content{
    flex: 1;
}

.main__content .content .cards__container{
 display: flex;
 justify-content: center;   
}
.content .cards__container .cards{
    width: 200px;
    height: 150px;
    padding: 10px;
    background-color: rgba(12, 207, 77, 0.349);
    margin: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    color: #221f1f;
    border-radius: 10px;
    box-shadow: 1px 2px 5px 2px rgb(135, 189, 137);
}
.content .cards__container .cards .card__number{
    font-size: 36px;
    font-weight: 700;
    color:rgb(40, 87, 87);

}