* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

:root {
  --bg_color: #2d4556;
  --green: #2bfa19;
  --dim__red: #8f7979;
  --red_color: rgba(192, 112, 112, 1);
  --white: #ffffff;
  --red_green_gradient: linear-gradient(
    99.25deg,
    #c07070 3.51%,
    rgba(107, 125, 137, 0.21) 98.47%
  );
}

body {
  background-color: var(--bg_color);
}

html{
  scroll-behavior: smooth;
}

header,
nav,
nav ul,
nav ul li {
  background-color: gradient;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: auto;
  justify-self: center;
  padding: 0px 20px;
}


.breadcumb{
  background: url("../assets/images/breadcumb_bg2.jpg"), var(--bg_color);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.breadcumb h1{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
  color: var(--white);
}

/* .breadcumb .heading{
  margin-bottom: 40px;
} */

header.scrolled{
  position:sticky;
  top: 0px;
  background-color: var(--bg_color);
  box-shadow: 3px 1px 3px 0.1px #1c3f58;
  z-index: 100;
  
}


.navigation__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: relative;
}
.navigation__bar ul {
  position: relative;
  display: flex;
  align-items: center;
}
.navigation__bar ul a {
  padding: 10px;
  color: var(--white);
  font-weight: 500;
  font-size: 20;
}

.navigation__bar ul a:hover {
  border-bottom: #2bfa19 1px solid;
  color:rgba(125, 188, 73, 0.768);
}

.call__to__action a {
  background: var(--red_green_gradient);
  color: var(--white);
  border-radius: 30px;
  padding: 10px;
}

.menu__toogle,
#desktop-nav-toggle {
  display: none;
}

.menu__toogle img:hover{
  cursor: pointer;
  
}

.home__container {
  background: url("../assets/images/Anathole_bg_2.svg") no-repeat right 30% top -140px,
    url("../assets/images/Ellipse_inner.svg") no-repeat left 0% bottom 10%,
    radial-gradient(ellipse at left, var(--bg_color), transparent),
    radial-gradient(ellipse at bottom, #50606b, transparent);
  height: 600px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: relative;
  filter: brightness(90%);
}

.home__container::after {
  content: "";
  height: 300px;
  width: 40%;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%);
  z-index: -2;
  border-radius: 50%;
  box-sizing: border-box;
  filter: brightness(10%);
  background:
    /* radial-gradient(
      50% 50% at 50% 50%,
      rgba(248, 249, 250, 0.342) 0%,
      rgba(80, 96, 107, 0.1632) 100%,
    ), */ linear-gradient(
      to bottom,
      transparent 50%,
      rgba(0, 0, 0, 0.171) 50%
    ),
    radial-gradient(circle closest-side, #00c0fb11, rgba(0, 0, 0, 0.281));
}

.home__container p,
.home__container h1,
.home__container h2,
.home__option {
  color: var(--white);
  margin: 0px 0px 0px 10%;
  display: block;
  position: relative;
}

.home__container h1 {
  font-size: 45px;
  margin-top: 10px;
}

.home__container p {
  font-size: 18px;
}

.home__container p.intro {
  max-width: 400px;
  line-height: 1.2em;
  margin-top: 40px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.74);
}

.home__option {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.home__container .home__option {
  /* display: block; */
  margin-top: 70px;
}

.home__option .download__cv {
  align-items: center;
  background: linear-gradient(105.75deg, #c07070 -20.75%, #2bfa19 145.32%);
  border-radius: 30px;
  padding: 8px !important;
  color: var(--white);
}

.home__option .hire__me {
  align-items: center;
  background: linear-gradient(
    112.17deg,
    rgba(208, 130, 112, 0.66) -3.98%,
    rgba(192, 112, 112, 0) 161.85%
  );
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  border-radius: 30px;
  padding: 8px !important;
  color: var(--white);
}

/* about  */

#about__me {
  padding: 50px 0px;
}

.heading {
  text-align: center;
  margin: 20px auto;
}

.heading h2 {
  color: var(--green);
  position: relative;
  width: fit-content;
  margin: auto;
}

.heading h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: calc(100% + 2px);
  background-color: #2bfa19;
}

.heading h2::after {
  content: "";
  position: absolute;
  top: calc(110%);
  left: 50%;
  transform: translate(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--green);
  /* margin: 2rem; */
}

.aboutme_container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  /* grid-auto-rows: minmax(200px, auto); */
}

.photo {
  grid-row: span 2;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* .photo img{
  top: 1050px;
  position: absolute;
  top: -100px;
} */

.profile__description {
  grid-row: span 1;
  display: flex;
  align-items: center;
  padding: 40px 0px;
  padding-left: 60px;
}
.education__exprience {
  grid-row: span 1;
  display: flex;
  justify-content: space-around;
}

/*  about me education */

.education__exprience .sub__heading {
  text-align: center;
  padding: 5px;
  background: rgba(227, 249, 232, 0.75);
  width: fit-content;
  margin: 0px auto 20px auto;
  font-size: 16px;
}

.profile__description p {
  color: var(--white);
  max-width: 500px;
  line-height: 1.2em;
  font-size: 20px;
  text-align: left;
  opacity: 0.8;
}

.education__exprience .education__container .item {
  background-color: rgba(255, 255, 255, 0.04);
  padding: 20px 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative;
}

.education__exprience .education__container .item::before {
  content: "";
  position: absolute;
  left: -17px;
  top: 0px;
  border-radius: 50%;
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--green);
}

.education__exprience .education__container .item::after {
  content: "";
  position: absolute;
  left: -12px;
  top: 10px;
  display: block;
  width: 1px;
  height: calc(100% + 10px);
  background-color: var(--green);
}

.education__container .item h3.degree {
  color: var(--white);
  margin-bottom: 10px;
  font-size: 24px;
  border-bottom: 0.01em dashed var(--green);
  width: fit-content;
}

.education__container .item h3.certificate {
  /* color: var(--white); */
  font-size: 16px;
  border: 1px solid linear-gradient(105.75deg, #c07070 -20.75%, #2bfa19 145.32%);
  color: var(--green);
  opacity: 0.5;
}

.education__container .item h4.institution {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
}

.education__container .item p.time__frame {
  color: var(--white);
  font-weight: 100;
  font-size: 12px;
  margin: 5px 0px;
}

/*  about me exprinece */

.education__exprience .exprience__container .item {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative;
}

.education__exprience .exprience__container .item::before {
  content: "";
  position: absolute;
  left: -17px;
  top: 0px;
  border-radius: 50%;
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--red_color);
}

.education__exprience .exprience__container .item::after {
  content: "";
  position: absolute;
  left: -12px;
  top: 10px;
  display: block;
  width: 1px;
  height: calc(100% + 10px);
  background-color: var(--red_color);
}

.exprience__container .item h3.role {
  color: var(--white);
  margin-bottom: 10px;
  font-size: 24px;
  border-bottom: 0.01em dashed var(--red_color);
  width: fit-content;
}

.exprience__container .item h3.company {
  /* color: var(--white); */
  font-size: 16px;
  color: var(--red_color);
  opacity: 0.8;
}

.exprience__container .item h4.work__mode {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
}

.exprience__container .item p.time__frame {
  color: var(--white);
  font-weight: 100;
  font-size: 12px;
  margin: 5px 0px;
}

/* Skills */

#skills {
  padding: 60px 0px;
  background-color: rgba(255, 255, 255, 0.1);
}

.skills_container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.skills_container .item {
  position: relative;
  padding: 16px;
  background: rgba(22, 45, 61, 0.46);
  display: grid;
  grid-template-columns: 1fr;
  width: calc(100% / 4.5);
}

.skills_container .item::after {
  position: absolute;
  top: 0px;
  left: 10px;
  right: 0px;
  top: 10px;
  border: 1px red solid;
}

.skills_container .item .item__heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--white);
  position: relative;
  margin: 20px auto;
}

.skills_container .item .item__content {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
}

.item__content p {
  padding: 5px 10px;
  background: #162d3d;
  border-radius: 10px;
  margin: 8px;
  color: var(--white);
  opacity: 0.8;
  height: fit-content;
}

.skills_container .item .skills__framework {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  justify-self: flex-end;
}

.skills_container .item .skills__framework p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.6);
}


/* -----------Proects---------- */
#projects {
  padding: 50px 0px;
}

.project_container {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  /* flex-wrap: wrap; */
}

.project_container .item {
  /* width: 30%; */
  background-color: rgba(27, 39, 48, 1);
  padding-bottom: 10px;
  border-radius: 5px;
  height: fit-content;
}

.project_container .item .img {
  position: relative;
  height: 300px;
  z-index: 10;
}

.project_container .item .img img {
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.project_container .item .description {
  position: relative;
  padding: 10px;
  margin: -50px auto 0px auto;
  min-height: 120px;
  width: calc(100% - 30px);
  background-color: var(--bg_color);
  border-radius: 0px 0px 20px 20px;
  z-index: 40;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project_container .item .description h3 {
  color: var(--white);
  opacity: 0.8;
  margin: 10xp 0px;
}

.project_container .item .description .goto {
  /* padding: 30px; */
  display: flex;
  margin-bottom: 10px;
  display: block;
  position: relative;
}

.project_container .item .goto .web {
  padding: 5px 10px;
  background: linear-gradient(105.75deg, #c07070 -20.75%, #2bfa19 145.32%);
  color: var(--white);
}

.project_container .item .goto .web:hover{
  background: #68C23D;
  margin-right:4px ;
  padding-right: 13px;

}
.project_container .item .goto .github {
  padding: 5px 10px;
  background: var(--red_green_gradient);
  color: var(--white);
}

.project_container .item .goto .github:hover{
  background: #c07070;
  margin-left:4px ;

}

/* ---- Blogs ----- */

#blogs {
  padding: 50px 0px;
}

.blogs_container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  flex-wrap: wrap;
  align-items: center;
}

#blogs .blogs_container::before {
  content: "";
  position: absolute;
  height: 480px;
  width: 450px;
  background: rgba(129, 148, 127, 0.5);
  background: radial-gradient(circle, rgba(170, 214, 167, 0.056) 0%,
   rgba(125, 188, 73, 0.568) 30%, rgba(174, 192, 163, 0.513) 55%, 
  rgba(183,115,83,0.0524) 100%, rgba(162, 172, 164, 0.46) 100%);
  /* bottom: 70px; */
  left: 50%;
  /* top: 50%; */
  transform: rotate(-45deg) translate(-50%, -50%); 
  /* right: 10%; */
  z-index: -1;
  overflow: hidden;
}

.blogs_container .item {
  display: flex;
  background-color: var(--white);
  padding: 10px;
  max-width: 400px;
  margin: 10px;
}

.blogs_container .item .img {
  max-width: 150px;
}
.blogs_container .item .img img {
  width: 100%;
}

.blogs_container .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.blogs_container .description .date__desktop,
.blogs_container .description .date__mobile {
  color: rgba(175, 86, 86, 1);
  margin: 10px 0px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.blogs_container .description .date__mobile {
  display: none;
}

.blogs_container .description .title {
  margin: 10px 0px;
  font-size: 14px;
}

.blogs_container .description .description__text {
  font-style: Regular;
  font-size: 12px;
}

.blogs_container .description .comment_views {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.blogs_container .description .comment_views .views,
.blogs_container .description .comment_views .comments {
  width: fit-content;
  margin: 5px;
}
.blogs_container .description .comment_views span {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
}

.blogs_container .description .read__more {
  background-image: linear-gradient(
    112.17deg,
    rgba(192, 112, 112, 0.06) -4%,
    rgba(0, 0, 0, 0.29) 161.85%
  );
  border-radius: 13px;
  width: fit-content;
  color: #000000;
  padding: 6px 15px;
}



#blogs .more__container a{
  background: linear-gradient(105.75deg, #c07070 -20.75%, #2bfa19 145.32%);
  border-radius: 13px;
  margin: 5px auto;
  width: fit-content;
  display: block;
  color: #000000;
  padding: 6px 15px;
  position: relative;
}

#blogs .more__container a:hover img{
  right: 0px;
  margin-right: -12px;
  margin-left: 16px;
  transition: .5s ease-in-out;
  width: 12px;
}

#blogs .more__container a:hover{
  background: linear-gradient(50deg, #c07070 -20.75%, #2bfa19 200.32%);
}


/*  all blogs page  */

.all__blogs_content{
  display: flex;
  flex-wrap: wrap;
}

.all__blogs_content > *:nth-child(1){
  flex: 1 1 73%;
}
.all__blogs_content > *:nth-child(2){
  flex: 1 1 25%;
}

.all__blogs_content .pagination__container{
  display: flex;
  margin: 5px auto;
  padding: 0px;
  justify-content: center;
  align-items: center;
}

.all__blogs_content .pagination__container .left__navigation{
  content: "Previous";
  margin-right: 2px;
}

.all__blogs_content .pagination__container .right__navigation{
  content: "Previous";
  margin-left: 2px;
}

.all__blogs_content .pagination__container span{
  padding: 10px 15px;
  margin: 1px;
  background-color: var(--red_color);
}


.right__summary{

margin-top: 50px;
  
}

.right__summary
.categories{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);

}

.categories  p{
  padding: 10px;
  color: var(--white);
  opacity: 0.6;
  
}


.categories .blog__item{
  padding: 10px 2px;
}

.blog__item .description .comment_views {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.blog__item .description .comment_views .views,
.blog__item .description .comment_views .comments {
  width: fit-content;
  margin: 5px;
}
.blog__item .description .comment_views span {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
}

.latest__blog__container .blog__item{
  padding:5px;
  display: flex;
  margin: 10px 2px;
}
.latest__blog__container .blog__item .img{
  max-width: 120px;
  max-height: 120px;
}

.latest__blog__container .blog__item .img img{
  max-width:100%;
  max-height:100%;
  /* overflow : hidden; */
}


/* Contact me */

#contact__me {
  padding: 50px 0px;
}

.contact__me__container {
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
}

.contact__me__container .form__container {
  padding: 20px;
  width: 40%;
}


.contact__me__container .form__container input,
.contact__me__container .form__container textarea {
  border: 0.01em solid rgba(192, 112, 112, .51);
  margin: 10px 0px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.13);
  color: var(--white);
  outline: none;
}

.form__container .send button {
  background: linear-gradient(
    105.75deg,
    rgba(192, 112, 112, 1),
    rgba(43, 250, 25, 0.7) 145.32%
  );

  padding: 6px 25px;
  border-radius: 20px;
  font-size: 14px;
  font-style: normal;
  color: var(--white);
  border: none;
  cursor: pointer;
}

.contact__me__container .address__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto;
  grid-gap: 20px;
  padding: 20px 10px;
  flex-wrap: wrap;
}

.contact__me__container .address__container .address__info {
  /* padding: 10px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(102, 110, 125, 1);
  grid-row: span 1;
  max-height: 200px;
  margin: 10px;
  padding: 15px 30px;
  position: relative;
}

.address__container .address__info img{
  width: 40px;
  position: absolute;
  top: -10px;
  left: -25px;

}



.address__container .address__info p {
  color: var(--white);
  opacity: 0.6;
  padding: 2px;
}


/* ------------LOGIN ---------------------- */

.login__container{
  height: calc(100vh - 190px);
  display: flex;
  justify-content: center;
  align-items: center;
}


.login__container .login__form__container {
  padding: 20px;
  width: 40%;
  min-height: 80%;
  margin: auto;
  background-color: rgba(194, 177, 177, 0.28);


}
.login__form__container form{
  margin-top: 50px;
}
.login__form__container .login__with__google{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}



.login__form__container .login__with__google img{
 max-width: 200px;
}
.login__form__container .form__row, .login__form__container .send{
  max-width: 350px;
  margin: auto;
}
.login__form__container form input{
  border: 0.01em solid rgba(192, 112, 112, .51);
  margin: 10px 0px;
  padding: 10px;
  width: 100%;
  display: block;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.13);
  color: var(--white);
  outline: none;
}

.login__form__container form label{
  color: var(--white);
  opacity: .7;
}


.login__form__container button{
  background: linear-gradient(
    105.75deg,
    rgba(192, 112, 112, 1),
    rgba(43, 250, 25, 0.7) 145.32%
  );

  padding: 6px 25px;
  border-radius: 20px;
  font-size: 14px;
  font-style: normal;
  color: var(--white);
  border: none;
  cursor: pointer;
}

.login__form__container .new__register{
  margin: 20px auto;
  display: flex;
  justify-content:center;
  color: var(--white);

}

.login__form__container .new__register span{
  color: var(--green);
  opacity: 0.85;
  margin: 0px 3px;
}


/* -------- FOOTER----------- */


footer{
  padding: 40px ;
  display: flex;
  justify-content:center;
  flex-direction: column;
  background-color: rgba(21, 44, 24, 0.46);
}

.footer__container .social{

  display: flex;
  justify-content:center;
  align-items: center;
  position: relative;
  width: fit-content;
  margin: 30px auto;
  border-top: 1px dashed var(--dim__red);

  }

 .footer__container .social a{
  margin: 10px;
  font-size: 14px;
  vertical-align: center;
  color: var(--red_color);
  padding: 20px 2px;

  }

  .footer__container .social a:hover{
    color: var(--white);
    transition: .4s ease;
  }


  .footer__container p{
    color: var(--white);
    opacity: 0.7;
  }

/*-------------------------------------- responsive ipad ---------------------------------------------*/

@media only screen and (max-width: 834px) {
  .menu__toogle {
    display: flex;
  }

  .navigation__bar .call__to__action a {
    float: right;
    justify-self: flex-end;
    justify-self: end;
    background: var(--bg_color);
    color: rgba(255, 255, 255, 0.74);
    border-bottom: 0.1em solid black;
    display: none;
  }

  .navigation__bar ul {
    position: absolute;
    flex-direction: column;
    z-index: 30;
    width: calc(100% - 46px);
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--white);

    background-color: #8f7979;
    display: none;
  }

  .navigation__bar ul li {
    position: relative;
  }

  .navigation__bar ul a {
    padding: 10px;
    display: block;
    /* color: var(--bg_color); */
  }

  .home__container h1 {
    font-size: 30px;
    margin-top: 10px;
  }

  .home__container::after {
    content: "";
    height: 200px;
    width: 40%;
  }


  /**\ about me  */

  .aboutme_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .profile__description {
    grid-column: span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    padding-left: 30px;
    height: 100%;
  }

  .profile__description p {
    max-width: 500px;
    font-size: 18px;
    margin: auto;
    opacity: 0.8;
  }

  .photo {
    grid-column: span 1;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .photo img {
    max-width: 100%;
  }

  .education__exprience {
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .education__container .item h3.degree,
  .education__container .item h3.role {
    font-size: 22px;
  }

  /* ---- Skills---- */

  .skills_container {
    display: flex;
    flex-wrap: wrap;
  }

  .skills_container .item {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2px;
    padding: 16px 20px;
    max-width: 270px;
  }

  /*  ---- Projects ----- */

  .project_container {
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .project_container .item {
    margin: 5px;
    width: 100%;
    max-width: 270px;
  }

  .project_container .item .img {
    position: relative;
    height: 250px;
  }

  /* Blogs */

  #blogs .blogs_container::before {
    width: 0px;
    height: 0px;
  }
  .blogs_container .item {
    flex-direction: column;
  }

  .blogs_container .item .img {
    max-width: 100%;
    max-width: 220px;
    margin: auto;

  }

  .blogs_container .item .img img{
    overflow-y: auto;
    max-height: 120%;

  }

  /* Contact me */

  .contact__me__container {
    margin: 40px auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  .contact__me__container .form__container {
    padding: 20px;
    width: calc(100% - 20px);
    margin: auto;
  }
  .form__container .send {
    text-align: center;
  }

  .form__container .send button {
    margin: auto;
  }

  .contact__me__container .address__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    grid-gap: 5px;
    padding: 10px 0px;
    flex-wrap: wrap;
  }


  .contact__me__container .address__container .address__info {
    /* padding: 10px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 20px;
    width: calc(100% - 50px);
  }

  .address__container .address__info img{
    width: 30px;
    top: -12px;
    left: -16px;
  
  }




/* ------------LOGIN ---------------------- */

.login__container{
  height: calc(100vh - 190px);
  display: flex;
  justify-content: center;
  align-items: center;
}


.login__container .login__form__container {
  width: calc(100% - 100px);
  min-height: 80%;


}
.login__form__container form{
  margin-top: 50px;
}
.login__form__container .login__with__google{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


.login__form__container .new__register p{
font-size: 13px;

}

.login__form__container .new__register span{
  color: var(--green);
  opacity: 0.85;
  margin: 0px 3px;
}

}

/*  Mobile phone  */
@media only screen and (max-width: 450px) {
  .home__container::after {
    content: "";
    height: 100px;
    width: 40%;
  }

  .aboutme_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .education__exprience {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    /* align-items:center; */
  }

  .education__container .item h3.degree,
  .education__container .item h3.role {
    font-size: 20px;
  }

  .education__container .item h3.certificate {
    font-size: 14px;
  }

  .education__container .item h4.institution,
  .exprience__container .item h4.work__mode {
    font-size: 16px;
  }

  .education__container .item p.time__frame,
  .exprience__container .item p.time__frame {
    font-size: 10px;
  }

  .exprience__container .item h3.company {
    font-size: 14px;
    opacity: 0.8;
  }

  /* skills */

  .skills_container .item {
    padding: 10px;
    width: 100%;
    margin: 5px auto;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  /*  ---- Projects ----- */

  .project_container .item {
    max-width: 100%;
    margin: 20px auto;
  }
  .project_container .item .img {
    position: relative;
    height: 240px;
  }

  .project_container .item .img img {
    height: 100%;
  }

  .project_container .item .description h3 {
    margin: 10px auto;
    font-size: 16px;
  }

  /* Blogs */

  .description .read__more {
    align-self: center;
  }


  /* Contact me */


  .contact__me__container {
    margin: 40px auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }

  .contact__me__container .address__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .address__container .address__info img{
    width: 20px;
    top: -12px;
    left: -16px;
  
  }
  .contact__me__container .address__container .address__info {
    width: 100%;
  }

/* ------------LOGIN ---------------------- */

.login__container{
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login__container .login__form__container {
  width: calc(100% - 10px);
  min-height: 80%;

}
.login__form__container form{
  margin-top: 30px;
}
.login__form__container .login__with__google{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


.login__form__container .new__register p{
font-size: 12px;

}


}
